$white: #fff;
$almostWhite: #fefefe;
$black: #000;
$almostBlack: #191818;
$headerLink: #242323;
$sky: #c2c8da;
$banner: #f4f6f5;
$explore: #7F7F7F;
$mustard: #e6c744;
$mustardLighter: #ebd96b;
$input: #DDDDDD66;
$placeholder: #6E6F72;
$tagText: #8A8A8A;
$tagBG: #E9E6E6;
$mobilePrice: #757575;
$notification: #EA1701;
$border: #C2C8DA;
// $circle: #EFECEB;
$greyCircle: #89807A;
$promoSection: #E5C643;
$promoParagraph: #FFFCF8;
$placeholderPromo: #767676;
$footerText: #8E8E8E;
$footerSubTitle: #D9D9D9;
$footerSubTitleLast: #EAEAEA;
$iconAcrion: #959292;
$banner-gradient: linear-gradient(
  90deg,
  #E0C340 0%,
  #DFC23E 4%,
  #E1C441 7%,
  #E3C743 10%,
  #E4C543 13%,
  #E5C643 16%,
  #E6C744 20%,
  #E7C845 24%,
  #E5C643 28%,
  #E6C943 31%,
  #E3C743 37%,
  #E9CA48 41%,
  #EDCE48 45%,
  #F0D44C 50%,
  #F4D84F 57%,
  #F6DA52 63%,
  #F7DB53 67%,
  #F9DD55 74%,
  #F9DF56 79%,
  #F9DF56 86%,
  #FAE157 93%,
  #F9DF56 100%
);